<h3>Deviens le plus grand <s>capitaine</s> pirate ayant jamais arpenté les mers ! </h3>
<div>
  Pour remporter le challenge des capitaines, une seule solution : deviens un pirate !
  Pour créer ton pirate, il suffit de taper un nom. Tu pourras ensuite combattre les autres capitaines en mer ! Gagne de l'expérience, bois du rhum et éduque ton pérroquet pour devenir... Le Captain !
</div>
<div class="container-fluid col-xs-12 text-center ">
  <br>

<iframe width="560" height="315" src="https://www.youtube.com/embed/pMhfbLRoGEw?ecver=1" frameborder="0" allowfullscreen></iframe>

</div>