<h3>Deviens le plus grand <s>capitaine</s> pirate ayant jamais arpenté les mers ! </h3>
<div>
  Pour remporter le challenge des capitaines, une seule solution : deviens un pirate !
  Pour créer ton pirate, il suffit de taper un nom. Tu pourras ensuite combattre les autres capitaines en mer ! Gagne de l'expérience, bois du rhum et éduque ton perroquet pour devenir... Le Captain !
</div>
<div class="container-fluid  col-lg-3 col-lg-offset-6" >
<br>
  <form accept-charset="UTF-8" action="/pirate" class="new_pirate"
        id="new_pirate" method="post">
   <h3 class="">  &nbsp &nbsp Nom du pirate : </h3>  <br>
    <div class="container-fluid ">
      <div class="col-md-offset-10  ">





    <input type="text" id ="pirate_name" name="pirate[name]" class=" form-control col-md-7 col-md-offset-9"></div></div>
    <br>

    <h3 class="">  &nbsp &nbsp Mail du pirate : </h3>  <br>
    <div class="container-fluid ">
      <div class="col-md-offset-10  ">





        <input type="email" id ="pirate_email" name="pirate[email]" class=" form-control col-md-7 col-md-offset-9"></div></div>
    <br>

    <button class="btn btn-lg btn-warning text-center" type="submit"><span class="glyphicon glyphicon-flash"></span><strong> Création du pirate </strong><span class="glyphicon glyphicon-flash"></span> </button>
    <input name="utf8" type="hidden" value="&#x2713;" />
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

  </form>





</div>


